.homebar {
    display:flex;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
}
.homepage img{
    width: 50px;
    height: 50px;
}

.nav-bar {
   display: flex;
   gap: 10px;
   margin-left: auto;
}

.nav-bar div{
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease;
}

.nav-bar div:hover{
    color: #4351f3;
}

.head-article .tag{
    font-size: 19px;
    display: inline-block;
    border: 1px solid #f8f9fa;
    background-color: #6666;
    border-radius: 50px;
    padding: 10px 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.head-article .tag:hover{
    cursor: pointer;
    border: 1px solid #888;
    background-color: #edf2f7;
    transition: all 0.3s ease;
}

.head-article .title{
    font-size: 30px;
    font-weight: bold;
    line-height: 0.5;
    padding-left: 10px;
}

.head-article .date{
    font-size: 20px;
    color: #888;
    font-weight: bold;
    line-height: 0;
    padding-left: 10px;
}

.content {
    font-size: 18px;
    padding-left: 10px;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
}
 
 footer{
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    font-size: 14px;
    color: #666;
    margin-top: auto;
}

footer a{
    color: #007bff;
    text-decoration:none;
}

footer a:hover{
    text-decoration: underline;
}